<div class="page blue">
    <div class="centered questions">

        <h1 id="getting-started">尝试 Dotty</h1>
        <p>如果您是 Mac 用户，您可以使用 <a href="https://brew.sh/">brew</a>:</p>
        <pre class="sourceCode bright"><code>brew install lampepfl/brew/dotty</code></pre>

        <p>如果您是 Linux 用户，请在<a href="https://github.com/lampepfl/dotty/releases">本页面</a>下载 Dotty 最新发布版。您可以将 Dotty 存放目录下的 <code>bin/</code> 子目录加入系统 <code>PATH</code> 环境变量中。</p>

        <p>现在您可以编译 Scala 源代码了：<p>
        <pre class="sourceCode bright"><code>dotc hello.scala</code></pre>

        <p>您也可以使用 <code>dotr</code> 命令启动 Dotty repl。<p>

        <p>您也可以使用 <a href="https://scastie.scala-lang.org/?target=dotty">Scastie</a> 在浏览器中试用 Dotty。</p>

        <h1 id="getting-started-with-a-project">创建 Dotty 项目</h1>
        <p>创建一个新的 Dotty 项目最快捷的方式是使用 <a href="http://www.scala-sbt.org/">sbt (1.1.4+)</a>。</p>

        <p>创建一个 Dotty 项目：</p>
        <pre class="sourceCode bright"><code>sbt new <a href="https://github.com/lampepfl/dotty.g8">lampepfl/dotty.g8</a></code></pre>

        <p>或者创建一个 Dotty 与 Scala 2 混合编译项目：</p>
        <pre class="sourceCode bright"><code>sbt new <a href="https://github.com/lampepfl/dotty-cross.g8">lampepfl/dotty-cross.g8</a></code></pre>

        <p>请参见 <a href="https://github.com/lampepfl/dotty-example-project">Dotty Example Projec</a> 查阅相关文档。</p>
    </div>
</div>
